In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

# Reading Data from various sources

### 1. csv

In [ ]:
# Read_csv
df = pd.read_csv("./data/loans data.csv")
df

In [ ]:
# df.shape

In [ ]:
# df.head(3)

In [ ]:
# df.info()

In [ ]:
bank_df = pd.read_csv("./data/bank-full.csv",sep = ";")
bank_df.head()

In [ ]:
df = pd.read_csv("./data/temp.txt", sep = "\t")
df

In [ ]:
# to_csv
df.to_csv("new_temp.csv", index = False)

### 2. excel

In [ ]:
# !pip install openpyxl

In [ ]:
# Read excel file
df = pd.read_excel("./data/Sales Order.xlsx")
df.head(1)

In [ ]:
# Reading a specific sheet
df = pd.read_excel("./data/Sales Order.xlsx", sheet_name = 'Returns')
df.head(1)

In [ ]:
# Get all sheets
data_all = pd.read_excel("./data/Sales Order.xlsx", sheet_name=None)
data_all.keys()

In [ ]:
df = data_all['Orders']

In [ ]:
df

In [ ]:
df['City'].unique()

In [ ]:
df.to_excel("./data/Varroc Sales.xlsx", index = False)

In [ ]:
# Writing to multiple sheets

filename = './data/HSBC_Sales.xlsx'
writer = pd.ExcelWriter(filename, engine = 'xlsxwriter')
for city in df['City'].unique():
    newdf = df[df['City'] == city]
    newdf.to_excel(writer, sheet_name = city, index = False)
writer.close()

In [ ]:
# combine multiple sheets to one sheet

src_file = './data/HSBC_Sales.xlsx'
sheets = list(pd.read_excel(src_file,sheet_name = None).keys())          # sheet_name = None (to get all sheets)
df = pd.DataFrame()
for sheet in sheets:
    df = pd.concat([df, pd.read_excel(src_file, sheet_name=sheet)])
df

In [ ]:
# df.to_excel('./data/File100.xlsx', sheet_name='Combined_data', index = False)

### 3. Database Tables

##### 3.1 mysql

In [ ]:
# !pip install sqlalchemy
# !pip install pymysql

In [ ]:
# https://docs.sqlalchemy.org/en/20/core/engines.html

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:12345@localhost/hsbc')  # create_engine(url_string)
engine

In [ ]:
df = pd.read_sql("SELECT * FROM employee", con=engine)
df

In [ ]:
df.to_sql('HSBCEMPLOYEES', con = engine, index = False)

##### 3.2 postgresql

In [ ]:
# !pip install psycopg2

In [ ]:
engine = create_engine("postgresql+psycopg2://postgres:12345@localhost/awgc")
df = pd.read_sql('SELECT * FROM location', con = engine)
df

In [ ]:
df['Country'] = 'USA'
df

In [ ]:
df.to_sql('US_Loc', con=engine, index=False, if_exists='replace')

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///books.db")
engine

In [ ]:
df = pd.read_sql("Select * from books", con = engine)
df

In [ ]:
new_df = pd.DataFrame([{'id': 555,
'title': 'def',
'author': 'uvw',
'year': 1950}])
new_df

In [ ]:
new_df.to_sql('books',con = engine, index = False, if_exists='append')

In [ ]:
pd.read_sql("Select * from books", con = engine)

# Core components of pandas
1. pandas Series 
2. pandas DataFrame : index, columns, values

In [ ]:
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
s = df['Name']

In [ ]:
s

In [ ]:
s.index

In [ ]:
s.values

In [ ]:
s1 = df.iloc[2,:]
s1

In [ ]:
s1.index

In [ ]:
s1.values

# Extracting rows, columns from data frames (loc,iloc)

In [ ]:
df = pd.read_excel('./data/Sales Order.xlsx')
df.head(2)

#### 1. iloc : Integer Locate
- df.iloc[row_no,col_no]

In [ ]:
# df.iloc[1,0]

In [ ]:
# df.iloc[0,0]

In [ ]:
# df.iloc[1,5]

In [ ]:
# df.head(6)

In [ ]:
# df.iloc[[0,1],[3,5]]

In [ ]:
# df.iloc[:,[4,5]]

In [ ]:
# df.iloc[:,:]

In [ ]:
# df.iloc[1:5,4:6]

In [ ]:
# df.iloc[-4:,:]

In [ ]:
# df.iloc[::2,:]

In [ ]:
# df.iloc[3000:4000,:]

In [ ]:
# df.iloc[0:1,1:0]

In [ ]:
df.columns

In [ ]:
df[['City','Customer']]

#### 2.loc
- df.loc[index_name,col_name]

In [ ]:
df.loc[[0,1],['City','Customer']]

In [ ]:
# df.index = [f'r_{i}' for i in df.index]

In [ ]:
# df.head()

In [ ]:
# df.loc[[0,1],['City']]

In [ ]:
# df.loc[['r_0','r_1'],['City','Customer']]

In [ ]:
# df.loc['r_0':'r_5','City':'Price']

In [ ]:
# df.loc[:,'City']
df['City']
df[['City']]
df.City

# Conditional Filtering

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('./data/loans data.csv')

In [ ]:
df.State.unique()

In [ ]:
df.shape

In [ ]:
# get all records for texas
df[df['State'] == 'TX'].shape

In [9]:
# get all records where state is texas or New Jersey
df[(df['State'] == 'TX') | (df['State'] == 'NJ')].shape

(268, 15)

In [11]:
df[df['State'].isin(['TX','NJ'])].shape

(268, 15)

In [12]:
# get all records where home ownership is mortgage
df[df['Home.Ownership'] == 'MORTGAGE'].shape

(1147, 15)

In [16]:
# get all records where state is texas or New Jersey and LoanPurpose is debtconsolidation
cond1 = df['State'].isin(['TX','NJ'])
cond2 = df['Loan.Purpose'] == 'debt_consolidation'

df[(cond1) & (cond2)].shape

(132, 15)

In [18]:
# get all records where home ownership is not mortgage
df[~(df['Home.Ownership'] == 'MORTGAGE')].shape

(1353, 15)

In [20]:
# get all records where State is NJ,SC or NY
df[df['State'].isin(['NJ','SC','NY'])].shape

(377, 15)

In [21]:
# Get NJ records with Loan purpose as either home_improvement/major purchase and monthly income < 5000

c1 = df['State'] == 'NJ'
c2 = df['Loan.Purpose'].isin(['home_improvement','major_purchase'])
c3 = df['Monthly.Income'] < 5000

df[(c1) & (c2) & (c3)]

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
88,33777.0,6000,.,7.51%,36 months,home_improvement,2.52%,NJ,MORTGAGE,4800.00,750-754,.,1442,0.0,10+ years
1029,54274.0,8000,8000,12.12%,36 months,home_improvement,7.90%,NJ,MORTGAGE,4166.67,705-709,6,7419,1.0,NaN
2498,38576.0,6000,6000,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8,.,0.0,5 years

In [ ]:
# Get non NJ records with Loan purpose except home_improvement/major purchase and monthly income < 1000
# 5: 375,866,985,1686,2180